

@font-face {
    font-family:hearts;
    src: url(JLRSH___.TTF);
}

@font-face {
    font-family: filxgirl;
    src: url(Filxgirl.TTF);
}





html {
    
    background:pink;
    cursor: url(https://ani.cursors-4u.net/symbols/sym-9/sym830.ani), url(https://ani.cursors-4u.net/symbols/sym-9/sym830.png), auto !important;
        
}

body {
    text-align: center;
}

img {
    height:300px;
    position:relative;
}

h1 { 
font-family: hearts;
    font-size: 50px;

}

h2 { 
font-family: Filxgirl;
font-size: 50px;
}

h3 {
    font-family: Filxgirl;
    font-size: 50px;
}